- if search_conditions.empty?
  %p
    You have no conditions at the moment for this search.
- else
  %table#search_conditions
    = render :partial => "app/search_conditions/search_condition", :collection => search_conditions