%p Hi there,
%p Thanks for registering with Tweasier.com. Before you can use all of our services you need to confirm your account properly by clicking on the following link:
- url = new_user_confirmation_url :user_id => @user, :token => @user.token, :encode => false
%p= link_to url, url