/* Master CSS for Tweasier */

/* layout */
html, body { background: #231F20; font-family: Lucida Sans Unicode, Lucida Grande, sans-serif; }

a { color: #111; text-decoration: none; }
a:hover { text-decoration: underline; }
p { margin: 10px 0; }
strong, .strong { font-weight: bold; }
em, .em { font-style: italic; }
h1, h2, h3, h4, h5 { color: #282728; }
hr { border: 1px #d9d9d9 solid; margin: 10px 0; clear: both; }
label { font-weight: bold }
form.chunky label,
form.extra_chunky label { font-weight: bold; color: #222; }
form.chunky input { border: 1px #ccc solid; padding: 6px; font-size: 1.4em; }
form.extra_chunky input { border: 1px #ccc solid; padding: 10px; font-size: 1.6em; }
form.chunky input.checkbox,
form.extra_chunky input.checkbox { border: none; }
form.chunky p { margin: 20px 0; }
form.extra_chunky p { margin: 10px 0 30px 0; }
input.wide { width: 700px; }

ul.fancy { padding: 0 0 0 20px; }
ul.fancy li { list-style-type: disc; padding: 4px; }

table { width: 100%; }
table.fancy,
table.fancy tr,
table.fancy tr td,
table.fancy tr th { border-collapse: collapse; border: 2px #ccc solid; background: #fefefe; }
table.fancy tr td,
table.fancy tr th { padding: 10px; }
table.fancy tr th { background: #0068D4; color: #fff; font-weight: bold; }
table.fancy tr th a { color: #fff; text-decoration: underline;}
table.fancy tr td a { color: #0068D4; text-decoration: underline; }
table.fancy tr td.highlight { color: #0068D4; font-weight: bold; }

a.more { background: transparent url(/images/front_end/arrow-right.png) 100% 50% no-repeat; padding: 0 10px 0 0; }

p.hint,
p.warning { font-style: italic; font-size: 0.9em; }
span.hint { font-style: italic; font-size: 0.8em; color: #555; }
span.datetime a { color: #999 !important; }

/* helpers */
.clear { clear: both; }
.small { font-size: 0.8em; }
.hint { font-size: 0.9em; color: #666; font-style: italic;}
.odd { background: #E7FFF1; }
.even { background: #EFEFEF; }
.center_align { text-align: center; }
.fr { float: right; }
.grey { color: #666 !important; }

/* front end */
div#header { height: 100px; background: #fff url(/images/front_end/header/bg.png) bottom left repeat-x; }
div#header div.inner { width: 960px; margin: 0 auto; position: relative; }
div#header div.inner a#logo { display: block; height: 74px; width: 301px; background: transparent url(/images/front_end/header/logo.png) 0 0 no-repeat; position: absolute; top: 24px; left: 0; }
div#header div.inner a#logo span { display: none; }
div#header div.inner div#follow_us { top: 10px; right: 10px; position: absolute; background: transparent url(/images/front_end/header/bird.png) top right no-repeat; padding: 6px 42px 0 0; height: 30px; }
div#header div.inner div#follow_us a { font-weight: bold; color: #1766D0; }
div#header div.inner div#nav { top: 50px; right: 0; position: absolute; }
div#header div.inner div#nav ul li { display: inline; margin: 0 0 0 20px; }
div#header div.inner div#nav ul li a { display: block; float: right; padding: 16px 12px 16px 18px; margin: 0 0 0 4px; text-decoration: none; background: transparent url(/images/front_end/nav/divider.png) top left no-repeat; font-weight: bold; color: #262626; }
div#header div.inner div#nav ul li a.selected { color: #1766D0 !important; }
div#header div.inner div#nav ul li.last a { background: none; }
div#header div.inner div#nav ul li a:hover { text-decoration: underline; }
div#header div.inner div#nav ul li select { margin: 16px 8px 0 0; float: right; }

div#content { background: #efefef url(/images/global/bg.png) 0 0 repeat-x; }
div#content div.inner { width: 960px; margin: 0 auto; position: relative; }
div#content div.application { background: #efefef url(/images/app/bg.png) 0 0 repeat-y; }
div#content h3 { font-size: 2em; margin: 10px 0; }
div#content h4 { font-size: 1.4em; margin: 20px 0; }
div#content div#wrapper { float: right; width: 706px; background: #efefef url(/images/global/bg.png) 0 0 repeat-x; }
div#content div.account_content { background-position: 0 100px !important; }
.content { margin: 14px; }
.content input,
.content textarea { border: 1px #ccc solid; padding: 6px; }
.content p { margin: 20px 0; }

div#content div#welcome { width: 450px; height: 240px; float: left; background: transparent url(/images/front_end/divider-horizontal.png) top right no-repeat; padding: 10px 20px 10px 0; margin-bottom: 50px; }
div#content div#plans { width: 450px; height: 240px; float: right; padding: 10px; margin-bottom: 50px; }
div#content div#plans div.plan { width: 116px; float: left; margin: 0 20px 0 0; background: transparent url(/images/front_end/divider-horizontal-dot.png) top right no-repeat; padding: 0 20px 0 0; }
div#content div#plans div.last { margin-right: 0; background: none; }
div#content div#plans div.plan h4 { margin: 0; }
div#content div#features div.feature { width: 330px; float: left; margin: 30px 30px 20px 0; background-color: transparent; background-repeat: no-repeat; background-position: 0 0; padding: 0 0 0 130px; }
div#content div#features div.feature h4 { margin: 0 0 10px 0; }
div#content div#features div.no_margin { margin: 30px 0 20px 0; }
div#content div#features div.follow,
div#content div#features div.analytics,
div#content div#features div.client,
div#content div#features div.email,
div#content div#features div.location,
div#content div#features div.more { height: 150px; }
div#content div#features div.tight { height: 130px !important; }
div#content div#features div.client { background-image: url(/images/front_end/home/features_client.png); background-position: 14px 8px; }
div#content div#features div.follow { background-image: url(/images/front_end/home/features_follow.png); background-position: 16px 16px; }
div#content div#features div.analytics { background-image: url(/images/front_end/home/features_analytics.png); background-position: 20px 10px; }
div#content div#features div.email { background-image: url(/images/front_end/home/features_email.png); background-position: 0 16px; }
div#content div#features div.location { background-image: url(/images/front_end/home/features_location.png); background-position: 18px 4px; }
div#content div#features div.more { background-image: url(/images/front_end/home/features_more.png); background-position: 26px 6px; }
div#content div#features div.feature_large { margin: 50px 0 0 0; background-color: transparent; background-repeat: no-repeat; padding: 0 0 0 130px; height: 160px; }
div#content div#features div.feature_large h4 { margin: 0 0 20px 0; }
div#content div#blog_posts div.blog_post { width: 230px; float: left; margin: 0 12px 0 0; }
div#content div#blog_posts div.blog_post h4 a { text-decoration: none; color: #282728; }
div#content div#blog_posts div.blog_post h4 a:hover { text-decoration: underline; }
div#content div#blog_posts div.last { margin: 0 !important; }

div#content div#tour { text-align: center; }
div#content div#tour h3 { margin: 10px 0 30px 0; }

div#content div#callout { width: 260px; float: right; margin: 0 0 60px 80px; }
div#content div.wider_callout { width: 300px !important; }
div#content div#callout img { width: 260px; margin: 10px 0; }
div#content div#callout img.button { width: 80px; float: right; margin: 10px 40px 20px 20px; }
div#content div#callout h3,
div#content div#callout h4 { text-align: center; }
div#content div#callout h5 { font-weight: bold; }
div#content div#callout h5,
div#content div#callout p { margin: 10px 20px; }
div#content div#callout ul li { list-style-position: inside; margin: 14px 20px; }

div#spotlight { background: #000 url(/images/front_end/home/spotlight.png) top center no-repeat; }
div#spotlight div.inner { width: 960px; margin: 0 auto; position: relative; height: 370px; }
div#spotlight div.inner div.right { width: 400px; position: absolute; right: 60px; top: 104px; color: #fff; }
div#spotlight div.inner div.right h2 { color: #fff; font-size: 2.5em; margin: 0 0 30px 0; }
div#spotlight div.inner div.right p { font-size: 1.4em; }
div#spotlight div.inner div.right a { display: block; float: left; margin: 0 10px 0 0; height: 74px; }
div#spotlight div.inner div.right a span { display: none; }
div#spotlight div.inner div.right a.tour { width: 149px;  background: transparent url(/images/front_end/buttons/tour.png) 0 0 no-repeat; margin-top: 20px; }
div#spotlight div.inner div.right a.sign_up { width: 162px; background: transparent url(/images/front_end/buttons/sign_up.png) 0 0 no-repeat; margin-top: 20px; }

div#footer { height: 343px; background: transparent url(/images/global/footer/bg.png) bottom left repeat-x; }
div#footer div.inner { width: 960px; margin: 0 auto; text-align: right; color: #e0e0e0; padding: 40px 0 0 0; }
div#footer div.inner div.box { width: 160px; height: 200px; float: right; margin: 0 0 0 30px; }
div#footer div.inner div.box h4 { color: #fff; font-weight: bold; border-bottom: 1px #464344 solid; margin: 0 0 10px 0; padding: 4px; }
div#footer div.inner div.box ul li { padding: 2px 0; }
div#footer div.inner div.box ul li a { color: #e0e0e0; text-decoration: none; }
div#footer div.inner div.box ul li a:hover { text-decoration: underline; }

div.flash { padding: 10px; text-align: center; font-weight: bold; font-size: 1.2em; color: #ffffff; }
div.failure { background: #CF1404; }
div.success,
div.notice { background: #1D8731; }

div#errorExplanation { border: 2px #CF1404 solid; margin: 10px 0; }
div#errorExplanation h2 { background: #CF1404; border: none; padding: 10px; color: #fff; font-weight: bold; font-size: 1.4em; }
div#errorExplanation p,
div#errorExplanation ul { margin: 0 10px; padding: 4px 0; font-weight: bold; }
div#errorExplanation ul li { padding: 6px; list-style: none; }

div.fieldWithErrors { display: inline; }
div.fieldWithErrors input { border: 2px #CF1404 solid; }

div#faq { width: 640px; }
div#faq_index ul { margin: 20px 0; }
div#faq_index ul li a { color: #1766D0; font-weight: bold; text-decoration: none; padding: 10px 4px 10px 40px; display: block; margin: 0 0 10px 0; background: transparent url(/images/front_end/faq/bullet.png) 0 2px no-repeat; }
div#faq_index ul li a:hover { text-decoration: underline; }
div#faq h5.faqopened,
div#faq h5.faqclosed { cursor: pointer; margin: 0 0 10px 0; font-weight: bold; }
div#faq h5.faqclosed:hover { text-decoration: underline; }
div#faq h5.faqopened { color: #1766D0; padding-left: 10px; }
div#faq div.faqcontent { margin: 10px; background: #e1e1e1; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

div#plans_spotlight { background: transparent url(/images/front_end/plans/logo.png) 45% 0% no-repeat; width: 100%; padding: 280px 0 0 0; margin: 0 0 20px 0; }
div#plans_spotlight div.plan { width: 300px; float: left; margin: 0 10px 0 10px; background: transparent url(/images/front_end/divider-horizontal-dot.png) 100% 50% no-repeat; }
div#plans_spotlight div.last { margin-right: 0; background: none; }
div#plans_spotlight div.plan h4,
div#plans_spotlight div.plan h5 { font-weight: bold; }
div#plans_spotlight div.plan h5 { color: #1766D0; }
div#plans_spotlight div.plan a { display: block; width: 118px; height: 47px; background: transparent url(/images/front_end/plans/button-buy_now.png) 0 0 no-repeat; margin: 20px 0;}
div#plans_spotlight div.plan a span { display: none; }
div#plans_spotlight div.plan img { float: right; margin: 0 20px 10px 10px;}

/* application */
div#maintenance { background: #FFE799; height: 200px; width: 100%; display: block; padding: 20px 0; text-align: center; font-size: 2.2em; }
div#maintenance h1 { display: block; font-size: 3em; }
div#maintenance p { margin: 10px; }

div#loader { position: fixed; bottom: 0; right: 0; z-index: 1000; color: #1766D0; height: 32px; width: 500px; background: #efefef url(/images/global/bird-small.png) 98% 50% no-repeat;  padding: 20px 110px 6px 0; }
div#loader h4 { font-size: 1.2em; text-align: right; }
div#loader img { height: 18px; width: 18px; position: fixed; bottom: 20px; right: 80px; }

div#sidebar { width: 250px; float: left; background: transparent url(/images/app/bg.png) 0 0 repeat-y; color: #1764D1; }
div#sidebar div#account_title { height: 90px; padding: 0 20px; }
div#sidebar div#account_title strong { display: block; font-size: 2.4em; margin: 6px 0 0 0; }
div#sidebar div#sidebar_content { padding: 10px 20px; }
div#sidebar ul#account_nav li a { display: block; background: transparent url(/images/app/sidebar/link_bg.png) bottom left no-repeat; height: 18px; width: 198px; margin: 0 0 0 4px; text-decoration: none; padding: 10px 10px 10px 40px; }
div#sidebar ul#account_nav li a:hover,
div#sidebar ul#account_nav li a.selected { background-position: top left; color: #fff; }
div#sidebar h5 { font-weight: bold; color: #1764D1; font-size: 1.2em; margin: 30px 0 20px 0; border-top: 2px #A6CDEB dotted; padding: 20px 0 0 0; }
div#sidebar h5:first-child { margin: 0 0 20px 0; border-top: none; padding: 0; }
div#sidebar a { color: #1764D1; text-decoration: underline; }
div#sidebar ul li { margin: 4px 0; }

div#poll_form,
div#feedback_form { margin: 20px 0; }
div#poll_form p { font-size: 1.2em; font-style: italic; text-align: center; }
div#poll_form ul li { padding: 4px 0; }
div#feedback_form form textarea { height: 100px; border: 1px #ccc solid; padding: 4px; width: 204px; }
div#feedback_form form input.submit { border: none; padding: none; margin: 10px 0 0 0; }
h3#poll_response,
h3#feedback_response { color: #1D8731; font-weight: bold; font-size: 1em !important; }

div#status_form_wrapper { background: #ebebeb; padding: 10px; position: relative; height: 118px; }
div#status_form_wrapper form { margin: 0; }
div#status_form_wrapper h4 { margin: 0 0 22px 0; }
div#status_form_wrapper div#countdown { color: #fff; font-size: 2em; font-weight: bold; width: 60px; height: 36px; background: transparent url(/images/app/countdown_bg.gif) top right no-repeat; position: absolute; top: 10px; right: 10px; padding: 4px 10px 0 0; text-align: right; }
div#status_form_wrapper div#countdown_label { font-weight: bold; position: absolute; top: 32px; right: 90px; }
div#status_form_wrapper textarea#text { width: 430px; border: 1px #ccc solid; height: 70px; padding: 6px; position: absolute; top: 40px; left: 10px; }
div#status_form_wrapper textarea#text:focus { border: 1px #999 solid; }
div#status_form_wrapper input#status_form_submit { position: absolute; top: 82px; right: 10px; }
div#status_form_wrapper a.link_request { position: absolute; right: 14px; top: 55px; color: #1766D0; font-weight: bold; }

ul#statuses li.status { border-top: 1px #e6e6e6 solid; background: #efefef url(/images/app/tweet_bg.png) 0 0 repeat-x; padding: 14px 10px 0 10px; margin: 0 0 20px 0; position: relative; }
ul#statuses li.status a.profile_image { display: block; float: left; margin: 0 10px 10px 0; }
ul#statuses li.status a.profile_image img { height: 48px; width: 48px; border: 1px #e6e6e6 solid; background: #fff; padding: 4px; }
ul#statuses li.status p.text a { color: #1766D0 !important; }
ul#statuses li.status div.datetime { text-align: right; color: #999; font-size: 0.9em; }
ul#statuses li.status div.datetime a { color: #999; }
ul#statuses li.status a { text-decoration: none; }
ul#statuses li.status a:hover { text-decoration: underline; }
ul#statuses li.status a.screen_name { color: #1766D0; font-size: 1.2em; text-decoration: none; }
ul#statuses li.status p.text { margin: 20px 0; }
ul#statuses li.status ul.actions { position: absolute; top: 10px; right: 10px; }
ul#statuses li.status ul.actions li { display: inline; margin: 0 0 0 6px; float: right; }
ul#statuses li.status ul.actions li a span { display: none; }
ul#statuses li.status ul.actions li a.favourite,
ul#statuses li.status ul.actions li a.retweet,
ul#statuses li.status ul.actions li a.reply,
ul#statuses li.status ul.actions li a.permalink { background-color: transparent; background-repeat: no-repeat; background-position: 0 0; display: block !important; height: 28px; width: 24px; margin: 0 0 0 10px; }
ul#statuses li.status ul.actions li a.favourite { background-image: url(/images/app/buttons/status_favourite.jpg); }
ul#statuses li.status ul.actions li a.retweet { background-image: url(/images/app/buttons/status_retweet.jpg); }
ul#statuses li.status ul.actions li a.reply { background-image: url(/images/app/buttons/status_reply.jpg); }
ul#statuses li.status ul.actions li a.permalink { background-image: url(/images/app/buttons/status_permalink.jpg); }
ul#statuses li.status ul.user_actions { margin: 0; float: left; }
ul#statuses li.status ul.user_actions li { display: inline; }
ul#statuses li.status ul.user_actions li a.dm,
ul#statuses li.status ul.user_actions li a.unfollow { display: block !important; height: 28px; width: 24px; margin: 0 8px 0 0; float: left; background-color: transparent; background-repeat: no-repeat; background-position: 0 0; }
ul#statuses li.status ul.user_actions li a.dm span,
ul#statuses li.status ul.user_actions li a.unfollow span { display: none; }
ul#statuses li.status ul.user_actions li a.dm { background-image: url(/images/app/buttons/status_dm.jpg); }
ul#statuses li.status ul.user_actions li a.unfollow { background-image: url(/images/app/buttons/status_unfollow.jpg); }

p.statistic strong { font-size: 3.7em; color: #111; }
p.statistic { color: #888; }
p.pagination,
p.attention { text-align: center; margin: 30px 0; font-size: 1.4em; border-top: 1px #ccc solid; border-bottom: 1px #ccc solid; padding: 10px; background: #e3e3e3; }

ul#statistics li { list-style: none; margin: 0 0 10px 0; }
ul#statistics li a { padding: 10px; border: 1px #ccc solid; color: #111; font-size: 1.6em; display: block; text-decoration: none; }
ul#statistics li a:hover { text-decoration: underline; }
table#searches tr td { padding: 16px;  font-size: 1.2em; }

table#search_conditions tr td { padding: 10px; }
table#search_conditions tr td em { color: #0DB052; font-weight: bold; font-size: 1.2em; }
table#search_conditions tr td a { color: #1766D0; }

table#search_condition_form tr td { padding: 10px; }
table#search_condition_form input { padding: 6px; font-size: 1em; }

#clone_search_form input { font-size: 1em; padding: 6px; border: 1px #ccc solid; width: 180px; }
#clone_search_form label { margin: 0; display: block; }

div.profile { position: relative; background: #e3e3e3; padding: 10px; }
div.profile h3 { margin: 0 0 20px 0; padding: 0; }
div.profile ul.follow_options { position: absolute; right: 30px; top: 30px; }
div.profile ul.follow_options li { text-align: right; margin: 0 0 6px 0; }

input.submit_blue,
input.submit_red,
input.submit_blue-small { display: block; border: none !important; color: #fff; font-weight: bold; font-size: 1.2em; cursor: pointer; }
input.submit_blue-small { height: 32px; width: 86px; background: transparent url(/images/app/buttons/blue-small.png) top left no-repeat; }
input.submit_blue,
input.submit_red { height: 43px; width: 234px; }
input.submit_blue { background: transparent url(/images/app/buttons/blue-large.png) top left no-repeat; }
input.submit_red { background: transparent url(/images/app/buttons/red-large.png) top left no-repeat; }
