#features
  .feature_large.analytics
    %h4 Analytics tool
    %p Track what people are saying about you or your products!
    %p Get insightful analytics on your account - watch your numbers, clicks and content interest increase!
    %p See which of your searches are the most useful
    %p Track the usage of your links from your followers
    %p View your account statistics in a beautiful graphical format.
  .feature_large.follow
    %h4 Bulk follow / unfollow
    %p Find the most interesting and influential people to follow based on keywords, happiness, location and much much more!
    %p Secure targeted followers automatically for yours or even several Twitter accounts!
    %p Fully automate your following and unfollowing.
    %p Bulk follow or unfollow people yourself - you decide who is in and who is out.
  .feature_large.client
    %h4 Twitter client
    %p You can read messages from your friends, tweet, direct message and shorten your URLs - all from our dedicated on-site Twitter client.
    %p Many more features coming soon!
  .feature_large.email
    %h4 Email notifications
    %p Receive personalised email notifications informing you about your activity within the twittersphere and find out important information without even visiting Tweasier.com.
  .feature_large.location
    %h4 Geo location
    %p Find people to follow based on location with our brand new GEO location feature. Also let people know where you are in the world by posting your location when you tweet.
  .feature_large.more
    %h4 And more
    %p Tweasier is packed full of features which are designed to make life a whole lot easier.