#plans_spotlight
  .plan
    %h4 Small
    %h5 £2.99 per month
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    =link_to content_tag(:span, "Buy now!"), sign_up_path(:plan => "small")
  .plan
    %h4 Medium
    %h5 £5.99 per month
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    =link_to content_tag(:span, "Buy now!"), sign_up_path(:plan => "medium")
  .plan.last
    = image_tag("front_end/plans/pro.png", :alt => "Pro Licence")
    %h4 Large
    %h5 £9.99 per month
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    =link_to content_tag(:span, "Buy now!"), sign_up_path(:plan => "large")
    
  %br.clear