- if unfollowed_people.empty?
  %p
    You have not bulk unfollowed anyone in the past 2 weeks.
- else
  %table#links.fancy
    %tr
      %th Person and date unfollowed &#42;
    = render :partial => "unfollowed_person", :collection => unfollowed_people
  
  %p &#42; Numbers given may have changed since this data was recorded.