#tour
  %h3 Features - Take the tour
  = '<object width="853" height="505"><param name="movie" value="http://www.youtube.com/v/v_UyVmITiYQ&hl=en_US&fs=1&rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/v_UyVmITiYQ&hl=en_US&fs=1&rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="853" height="505"></embed></object>'

%br.clear

%h3 In detail...
= shared("features_spotlight")

%h3 Tweasier Plans
= shared("plans_spotlight")
