- sidebar do
  %p Tweasier allows you to created saved searches to follow streams of content.
  %ul
    %li= link_to "Create a new search", new_app_user_account_search_path(@account)
    %li= link_to "Create new searches in bulk", new_app_user_account_search_batch_path(@account)