.content
  %h3 Add a new Twitter account

  %p To add a new Twitter account to Tweasier you need to be logged into the Twitter site. Once you are logged in click the button below. You can add as many accounts as your plan allows.
  %p
    To ensure Tweasier uses your account in the most responsible and ethical way as possible we need to request access from Twitter. This ensures that we
    %strong never
    store your password, only a unique token related to you (which is far safer).
  
  - form_for(@user.accounts.build, :url => app_user_accounts_path) do |form|
    = form.submit "Sync my account", :class => "submit_blue", :disable_with => "Redirecting to Twitter..."